/*

Template: Appino - Responsive App Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: This is color stylesheet of Color Scheme.

*/

/************************* selection *************************/

*::-moz-selection {
    background: #1e50e2;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #1e50e2;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #1e50e2;
    color: #fff;
    text-shadow: none;
}

a {
    color: #09b3ef;
}

a:focus,
a:hover {
    color: #1e50e2;
}

/*----------------------------------------------------------------------
                        Buttons
-----------------------------------------------------------------------*/

.button {
    background-image: linear-gradient(to right, #09b3ef 0%, #1e50e2 51%, #09b3ef 100%);
}

/* button White Icon */

.button.button-icon:hover {
    color: #1e50e2;
}

/*---------------------------------------------------------------------
                           Section Title
-----------------------------------------------------------------------*/

.heading-title .divider {
    border: 2px solid #09b3ef;
}

.heading-title .divider:after {
    background: #1e50e2;
}

.heading-title .divider:before {
    background: #09b3ef;
}

/* heading Title Left */

.heading-left:before,
.iq-fancy-box:before,
.iq-fancy-box:after {
    background: rgba(9, 179, 239, 1);
    background: -moz-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9, 179, 239, 1)), color-stop(100%, rgba(30, 80, 226, 1)));
    background: -webkit-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
}

/* heading Title Left White */

.heading-left.white:before {
    background: #fff;
}

/*---------------------------------------------------------------------
                            Text Color 
-----------------------------------------------------------------------*/

.iq-font-blue,
.iq-video:focus,
.iq-video:hover,
.share:hover a,
.share.hover a,
.iq-sidebar-widget .iq-recent-post .media-body span .fa,
.iq-comment-list .iq-comment-metadata i,
.banner-form h3 small,
.iq-amazing-tab-one .nav.nav-tabs li a:hover i,
.iq-amazing-tab-one .nav.nav-tabs li a:hover {
    color: #1e50e2;
}

.iq-font-light-blue,
.iq-video,
.share span,
.button.button-icon:hover,
.iq-sidebar-widget .iq-widget-search i,
.iq-blog-detail a:hover,
.iq-blog-detail .blog-title a:hover h5,
.iq-breadcrumb .breadcrumb li.active,
.iq-breadcrumb .breadcrumb li a:hover,
.iq-widget-menu ul li a span:hover,
.iq-widget-menu ul ul li a span:hover,
.iq-tags li a:hover,
.iq-widget-archives li a:hover,
.iq-amazing-tab-one .nav.nav-tabs li.active a i,
.iq-amazing-tab-one .nav.nav-tabs li.active a:hover i,
.iq-amazing-tab-one .nav.nav-tabs li.active a:focus i {
    color: #09b3ef;
}

/*---------------------------------------------------------------------
                          Background Color 
-----------------------------------------------------------------------*/

.green-bg,
header.affix,
.iq-amazing-tab .nav-tabs li.active a,
.iq-amazing-tab .nav-tabs li.active a:hover,
.iq-amazing-tab .nav-tabs li.active a:focus,
.iq-amazing-tab .nav-tabs li a:hover,
.iq-fancy-box-02 .iq-icon,
.iq-client:before,
.iq-team:before,
.ad-icon,
.iq-accordion .ad-title:before,
.info-share li a:hover,
.iq-fancy-box-03:before,
.iq-Work-box .Work-icon i,
.iq-amazing-tab-one .nav.nav-tabs li a:before,
.iq-amazing-tab-one .nav.nav-tabs li a:hover:before,
.iq-amazing-tab-one .nav.nav-tabs li a:focus:before {
    background: rgba(9, 179, 239, 1);
    background: -moz-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9, 179, 239, 1)), color-stop(100%, rgba(30, 80, 226, 1)));
    background: -webkit-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    background: linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
}

.iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:after,
.iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:after {
    background: rgba(30, 80, 226, 1);
    background: -moz-linear-gradient(45deg, rgba(30, 80, 226, 1) 0%, rgba(9, 179, 239, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(30, 80, 226, 1)), color-stop(100%, rgba(9, 179, 239, 1)));
    background: -webkit-linear-gradient(45deg, rgba(30, 80, 226, 1) 0%, rgba(9, 179, 239, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(30, 80, 226, 1) 0%, rgba(9, 179, 239, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(30, 80, 226, 1) 0%, rgba(9, 179, 239, 1) 100%);
    background: linear-gradient(45deg, rgba(30, 80, 226, 1) 0%, rgba(9, 179, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e50e2', endColorstr='#09b3ef', GradientType=1);
}

#back-to-top .top,
.iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:before,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover,
.navbar-default .navbar-toggle .icon-bar,
.iq-error h6 {
    background: #1e50e2;
}

#back-to-top .top:hover,
.iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:before,
.owl-carousel .owl-nav i:hover,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.navbar-default .navbar-toggle.collapsed .icon-bar,
.banner-form .form-icon {
    background: #09b3ef;
}

.iq-app .owl-carousel .owl-item a:before,
.iq-screenshots .owl-carousel .owl-item a:before {
    background: rgba(30, 80, 226, 0.8);
}

/*---------------------------------------------------------------------
                       Background Gradient 
---------------------------------------------------------------------*/

.iq-over-black-80:before,
.iq-about-bg:after {
    background: rgba(9, 179, 239, 0.8);
    background: -moz-linear-gradient(45deg, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9, 179, 239, 0.8)), color-stop(100%, rgba(30, 80, 226, 0.8)));
    background: -webkit-linear-gradient(45deg, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
    background: -o-linear-gradient(45deg, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
    background: -ms-linear-gradient(45deg, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
    background: linear-gradient(45deg, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
}

.iq-over-black-90:before {
    background: rgba(9, 179, 239, 0.9);
    background: -moz-linear-gradient(45deg, rgba(9, 179, 239, 0.9) 0%, rgba(30, 80, 226, 0.9) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9, 179, 239, 0.9)), color-stop(100%, rgba(30, 80, 226, 0.9)));
    background: -webkit-linear-gradient(45deg, rgba(9, 179, 239, 0.9) 0%, rgba(30, 80, 226, 0.9) 100%);
    background: -o-linear-gradient(45deg, rgba(9, 179, 239, 0.9) 0%, rgba(30, 80, 226, 0.9) 100%);
    background: -ms-linear-gradient(45deg, rgba(9, 179, 239, 0.9) 0%, rgba(30, 80, 226, 0.9) 100%);
    background: linear-gradient(45deg, rgba(9, 179, 239, 0.9) 0%, rgba(30, 80, 226, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
}

/*---------------------------------------------------------------------
                      		 Boder Color 
---------------------------------------------------------------------*/

.info-share li a:hover,
.contact-form .section-field input:focus,
.contact-form .section-field.textarea textarea:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.iq-tags li a:hover,
blockquote {
    border-color: #09b3ef;
}

.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    border-color: #1e50e2;
}

@media(max-width:767px) {
    header .navbar-default .navbar-nav>li>a:hover,
    header .navbar-default .navbar-nav>li>a:focus,
    header .navbar-default .navbar-nav>li.active>a,
    header .navbar-default .navbar-nav>li.active>a:focus,
    header .navbar-default .navbar-nav>li.active>a:hover {
        background: rgba(9, 179, 239, 1);
        background: -moz-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9, 179, 239, 1)), color-stop(100%, rgba(30, 80, 226, 1)));
        background: -webkit-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
        background: linear-gradient(45deg, rgba(9, 179, 239, 1) 0%, rgba(30, 80, 226, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b3ef', endColorstr='#1e50e2', GradientType=1);
    }
}